flows.json
[{"id":"5dd7a913.659258","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f2f2649a.0d0d98","type":"debug","z":"5dd7a913.659258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":220,"wires":[]},{"id":"44daa9a3.5ac8d8","type":"ibmiot in","z":"5dd7a913.659258","authentication":"apiKey","apiKey":"f8b59fbc.13c96","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345678","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":190,"y":220,"wires":[["31a87847.ec5c28"]]},{"id":"31a87847.ec5c28","type":"function","z":"5dd7a913.659258","name":"weight","func":"global.set('weight',msg.payload.weight)\nmsg.payload=msg.payload.weight\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":140,"wires":[["f2f2649a.0d0d98","e4c1bbdb.c8c388"]]},{"id":"e4c1bbdb.c8c388","type":"ui_gauge","z":"5dd7a913.659258","name":"","group":"27f4b95c.12f0b6","order":0,"width":0,"height":0,"gtype":"gage","title":"weight","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":120,"wires":[]},{"id":"f11d6b26.b4abc8","type":"http in","z":"5dd7a913.659258","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":210,"y":340,"wires":[["3d5d55ea.bb5fda"]]},{"id":"3d5d55ea.bb5fda","type":"function","z":"5dd7a913.659258","name":"webpage","func":"msg.payload={'weight':global.get(\"weight\")}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":340,"wires":[["523a26b0.64b038","2e9e95a2.7e223a"]]},{"id":"523a26b0.64b038","type":"http response","z":"5dd7a913.659258","name":"","statusCode":"","headers":{},"x":630,"y":320,"wires":[]},{"id":"ec5803ca.55053","type":"http in","z":"5dd7a913.659258","name":"","url":"command","method":"get","upload":false,"swaggerDoc":"","x":200,"y":460,"wires":[["6496d486.24950c"]]},{"id":"6496d486.24950c","type":"function","z":"5dd7a913.659258","name":"command","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":460,"wires":[["efd176a3.4cb5a8","2e9e95a2.7e223a"]]},{"id":"efd176a3.4cb5a8","type":"http response","z":"5dd7a913.659258","name":"","statusCode":"","headers":{},"x":570,"y":520,"wires":[]},{"id":"2e9e95a2.7e223a","type":"debug","z":"5dd7a913.659258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":400,"wires":[]},{"id":"f8b59fbc.13c96","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"27f4b95c.12f0b6","type":"ui_group","z":"","name":"Default","tab":"fa6cf1d8.6debf","order":1,"disp":true,"width":"6","collapse":false},{"id":"fa6cf1d8.6debf","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]